@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: rgb(65, 63, 63);
  /* padding: 2em;  */

  display: flex;
  flex-wrap: wrap;
}
body > * {
  background: rgba(18, 165, 233, 0.048);
  text-align: center;
  border: 5px solid white;
}

.header,
.footer,
.message {
  flex: 1 100%;
}

.title {
  background-color: bisque;
}

.message {
  background-color: rgb(2, 146, 230);
}

.sidebar {
  flex: 1;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
}

.sidebar > div {
  /* background-color: aqua;
  border: 5px solid rgba(201, 199, 199, 0.473); */
  padding: 1rem;
  padding-bottom: 2rem;
}

.info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.info2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2em;
}

.small-emoji {
  font-size: 3rem;
}

.text-small {
  font-size: 1.25rem;
}

.make-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price {
  width: 25rem;
  /* padding: 2rem 3rem;
  border: 5px solid rgb(2, 146, 230); */
}

.main {
  flex: 2;
  position: relative;
  padding: 1em;
  height: 80vh;
}

.box {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 200);
  border: 1px solid rgba(201, 199, 199, 0.473);
  padding: 2rem;
}

.weather {
  font-size: 12rem;
  position: absolute;
  right: 15%;
  top: 5%;
}

.kid {
  font-size: 8rem;
  position: absolute;
  left: 15%;
  bottom: 30%;
}

.store-wrapper {
  position: absolute;
  left: 15%;
  bottom: 30%;
}

.sign {
  background-color: rgb(255, 81, 0);
  color: white;
  position: absolute;
  top: 0%;
}

.store {
  font-size: 10rem;
}

.hidden {
  display: none;
}

input {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  padding: 1rem;
  width: 15rem;
  margin-bottom: 1rem;
  text-align: left;
}

.button {
  border: none;
  background-color: rgb(2, 146, 230);
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 103, 238, 0.938);
}

/* Slider from: https://codepen.io/jonnaru/pen/JjXyKYM */
.slider {
  -webkit-appearance: none;
  width: 2orem;
  height: 1px;
  background: transparent;
  outline: none;
  border: 5px solid rgb(65, 63, 63);
  border-radius: 0px;
  margin: 0.2em;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 15px;
  background: rgb(2, 146, 230);
  cursor: pointer;
  border: 5px solid rgb(2, 146, 230);
  border-radius: 0px;
}

/* for firefox */
.slider::-moz-range-thumb {
  width: 20px;
  height: 15px;
  background: rgb(2, 146, 230);
  cursor: pointer;
  border: 5px solid rgb(2, 146, 230);
  border-radius: 0px;
}

/* https://css-tricks.com/css3-progress-bars/ */
.make-meter {
  width: 25rem;
}

.day-meter {
  width: 10rem;
}

.meter {
  height: 1rem;

  position: relative;
  /* background: #2225; */
  border-radius: 1px;
  padding: 0;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  background-color: rgb(2, 146, 230);
  background-image: rgb(2, 146, 230);
  animation: progressBar 10s linear 2s infinite;

  /* box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px #222; */
  position: relative;
  overflow: hidden;
}

@keyframes progressBar {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
